.footer {
	text-align: center;
	font-family: Calibri, Arial, sans-serif;
}

.header {
	text-align: center;
	font-family: Calibri, Arial, sans-serif;
	font-size: 30px;
	background-color: #2c3f59;
	color: white;
}