<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
	        <link href="/css/app.css" rel="stylesheet">
			<link href="/fontawesome/css/all.css" rel="stylesheet">
			<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid row header">
            <div class="col-md-12">
                <i class="fas fa-eye"></i> CIDADÃO DE OLHO
            </div>
        </div>
        <br>
        {% block body %}{% endblock %}
        {% block javascripts %}
	        <script src="/fontawesome/js/all.js}}"></script>

	        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {% endblock %}

        <br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 footer">
                    <p>Cidadão de Olho<br>
                    Desenvolvido por <a href="https://gitlab.com/users/patrickpff/"> patrickpff</a>.<br>
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
